

::-webkit-scrollbar {
  width: 8px; 
  height: 12px; 
}

::-webkit-scrollbar-track {
  background: #f0f0f0; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.app-container {
  display: flex;
  height: 100vh;


}

.customer-list {
  width: 30%;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.customer-card {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.customer-card.selected {
  background-color: #e6f7ff;
}

.customer-details {
  width: 75%;
  padding: 20px;
  background-color: #e6f7ff;
  text-align: center;
  overflow-y: auto;
}

 .photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
}



.photo-grid img {
  width: 200px; 
  height: 200px; 
  border-radius: 20px;
 
  margin: 0 auto; 
}